@model Advertising

@{
    ViewData["Title"] = "Anúncio";
}

<div class="card mb-3" style="max-width: 30rem;">
    <h4 class="card-header">Cadastro de Anúncio</h4>
    <div class="card-body">
        <form asp-action="">
            <input asp-for="AdvertisingId" />
            <partial name="_Form" />
            <input type="submit" value="Salvar" class="btn btn-primary mt-4 mb-1" />
        </form>
    </div>
</div>