@model Provider

@{
    ViewData["Title"] = "Perfil";
}

<div class="card border-light mb-3 mt-" style="max-width: 30rem;">
    <h4 class="card-header">Dados de Cadastro</h4>
    <div class="card-body">
        <form asp-action="">
            <input asp-for="ProviderId" />
            <partial name="_Form" />
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </form>
    </div>
</div>