@model List<Advertising>

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-end">
    <div class="p-3 col-md-4 col-sm-1">
        <h1 class="display-4">Olá, Usuário</h1>
    </div>

    <form class="d-flex justify-content-between col-md-8 col-sm-1">
        <div class="d-flex justify-content-between col-md-6 col-sm-1">
            <div class="mt-1 p-3">
                <p>Encontre a sua doação</p>
            </div>
            <div class="col p-3">
                <select class="form-control mr-2" name="especieBusca">
                    <option disabled selected>Selecione</option>
                    <option>Fornecedor</option>
                    <option>Cidade</option>
                </select>
            </div>
        </div>
        <div class="col-6 p-3">
            <input type="text" class="form-control" placeholder="Pesquisar">
        </div>
    </form>
</div>

<div class="d-flex flex-wrap justify-content-between">

    <div class="p-3 col-md-4 col-sm-1">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Título do anúncio</h4>
                <p class="card-text mb-4">
                    Av. Lins de Vasconcelos, 1222 <br /> São Paulo - SP, Brasil
                </p>
                <div class="d-flex justify-content-between">
                    <div class="col-auto mr-auto mt-1">
                        <p>Quantidade: </p>
                    </div>
                    <div class="col-auto">
                        <a asp-controller="advertising" asp-action="details" asp-route-id="" class="btn btn-outline-primary">Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
