@model Charity

@{
    ViewData["Title"] = "Perfil";
}

<div class="card border-light mb-3 mt-" style="max-width: 30rem;">
    <h4 class="card-header">Dados de Cadastro</h4>
    <div class="card-body">
        <form asp-action="">
            <partial name="_Form" />
        </form>
    </div>
</div>